/* Universal Styling */

body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	color: seashell;
	background-color: black;
	font-size: 22px;
	text-align: center;
}

a {
	color: seashell;
}

h2, h3, h4 {
	margin: 0;
	padding: 10px;
}

.flex-container {
  display: flex;
	justify-content: center;
  flex-wrap: wrap;
}

/* Header Styling */

header {
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid seashell;
	align-items: center;
}

header img {
	height:50px;
	padding-left: 10px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span{
	padding:20px 10px;
}

/* Main Section */

.main {
	padding-top: 69px;
	width:1200px;
	margin: auto;
}

/* Mission Section */

#mission {
	height: 700px;
	background-image: url(./assets/mission-bg.jpg);
}

#mission .content {
	width: 100%;
	background-color: black;
	margin: auto;
}

/* Store Section */

#store {
	height: 700px;
	width: 1000px;
	margin: auto;
	padding-top: 70px;
}

.store-card{
	padding: 5px;
}

.store-card img {
	height:200px;
	width: 300px;
	display: block;
	margin: 10px;
}

.store-card span {
	font-weight: bold;
	padding: 5px;
	display: block;
}

/* Location Section */

#locations{
	background-image: url(assets/locations-bg.jpg);
	height: 500px;
	padding-top: 70px;
}

.location-card{
	background-color: black;
	margin: 5px 20px;
	padding: 10px;
	flex-basis: 280px;
	display: flex;
	flex-direction: column;
}

/* Contact Section */

#contact {
	height: 200px;
}

/* Footer Section */

footer{
	text-align: left;
	padding-left: 20px;
}